body{
    background-color: rgb(171, 71, 0);
    margin: 0;
}

.navbar {
    border-radius: 25px;
    overflow: hidden;
    background-color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: wheat;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus{
    background-color: rgba(17, 141, 152, 0.479);

}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: none;
    box-shadow: 0px 8px 16px 0px rgba(3, 143, 99, 0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px, 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: ddd#f9f9f9;
    border-radius: 25px;
}

.show{
    display: block;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 15;
    overflow: hidden;
    background-color: rgba(7, 166, 126, 0.751);
}

li{
    float: left;
}

li a{
    display: block;
    color: rgb(246, 170, 28);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgba(109, 203, 232, 0.646);
    border-radius: 25px;
}

button {
    display: block;
    color: rgb(246, 170, 28);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
}
.titleText{
    text-align: center;
    color: wheat;
    font-size: 80px;
}

.hypeText{
    text-align: center;
    color: wheat;
    font-size: 15px;
}

.carousel{
    width: 100vw;
    height: 100vw;
    position: relative;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img{
    border-radius: 5px;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(7, 166, 126, 0.751, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}